In [1]:
import pandas as pd

#1. Read the main PPI file (normalized_consensus_scores.csv)
#If it's comma-separated, use sep=",", otherwise sep="\t".
scores = pd.read_csv("./results_11032025/Jess_PPI_21032025/4_normalized_consensus_scores_Maxime_corr.csv", sep= ",", header=0)
scores.head()

,ad_orf_id,db_orf_id,db_mut_id,retest_batch,normalized_score,assay_id,seq_ad,seq_db
0,1235,52920,2676,VUSAPWT2B1,0.125,2,1,1
1,11922,2713,953,VUSAPWT1B1,0.000,1,1,1
2,7880,10122,0,VUSAPWT1B2,0.500,1,1,1
3,4351,2713,869,VUSAPWT6B1,0.000,6,1,1
4,11671,2713,455,VUSAPWT2B1,0.000,2,1,1

In [2]:
#2. Read the ORF mapping file (tab-separated)
orf_map = pd.read_csv("./results_11032025/Jess_PPI_21032025/orf_symbol_ensg.csv", sep= "\t", header=0)
orf_map.head()

   orf_id symbol     ensembl_gene_id
0       1  CALM2  ENSG00000143933.16
1       1  CALM1  ENSG00000198668.10
2       1  CALM3  ENSG00000160014.16
3       2    GBA  ENSG00000177628.15
4       3   BET1  ENSG00000105829.11

In [3]:
#3. Merge on db_orf_id
scores_db = scores.merge(
    orf_map,
    left_on="db_orf_id",   #Column in scores
    right_on="orf_id",     #Column in orf_map
    how="left"             #Keep all rows from 'scores'
)

scores_db.head()

,ad_orf_id,db_orf_id,db_mut_id,retest_batch,normalized_score,assay_id,seq_ad,seq_db,orf_id,symbol,ensembl_gene_id
0,1235,52920,2676,VUSAPWT2B1,0.125,2,1,1,52920,LITAF,ENSG00000189067.12
1,11922,2713,953,VUSAPWT1B1,0.000,1,1,1,2713,MLH1,ENSG00000076242.14
2,7880,10122,0,VUSAPWT1B2,0.500,1,1,1,10122,EXOC8,ENSG00000116903.7
3,4351,2713,869,VUSAPWT6B1,0.000,6,1,1,2713,MLH1,ENSG00000076242.14
4,11671,2713,455,VUSAPWT2B1,0.000,2,1,1,2713,MLH1,ENSG00000076242.14

In [4]:
#4. Rename columns from orf_map to indicate DB
scores_db.rename(
    columns={
        "symbol": "db_symbol",
        "ensembl_gene_id": "db_ensembl_gene_id"
    },
    inplace=True
)

scores_db.head() #double check

,ad_orf_id,db_orf_id,db_mut_id,retest_batch,normalized_score,assay_id,seq_ad,seq_db,orf_id,db_symbol,db_ensembl_gene_id
0,1235,52920,2676,VUSAPWT2B1,0.125,2,1,1,52920,LITAF,ENSG00000189067.12
1,11922,2713,953,VUSAPWT1B1,0.000,1,1,1,2713,MLH1,ENSG00000076242.14
2,7880,10122,0,VUSAPWT1B2,0.500,1,1,1,10122,EXOC8,ENSG00000116903.7
3,4351,2713,869,VUSAPWT6B1,0.000,6,1,1,2713,MLH1,ENSG00000076242.14
4,11671,2713,455,VUSAPWT2B1,0.000,2,1,1,2713,MLH1,ENSG00000076242.14

In [5]:
#5. Drop the redundant 'orf_id' column
scores_db.drop("orf_id", axis=1, inplace=True)
scores_db.head()

,ad_orf_id,db_orf_id,db_mut_id,retest_batch,normalized_score,assay_id,seq_ad,seq_db,db_symbol,db_ensembl_gene_id
0,1235,52920,2676,VUSAPWT2B1,0.125,2,1,1,LITAF,ENSG00000189067.12
1,11922,2713,953,VUSAPWT1B1,0.000,1,1,1,MLH1,ENSG00000076242.14
2,7880,10122,0,VUSAPWT1B2,0.500,1,1,1,EXOC8,ENSG00000116903.7
3,4351,2713,869,VUSAPWT6B1,0.000,6,1,1,MLH1,ENSG00000076242.14
4,11671,2713,455,VUSAPWT2B1,0.000,2,1,1,MLH1,ENSG00000076242.14

In [6]:
#6. Merge again for ad_orf_id
scores_db_ad = scores_db.merge(
    orf_map,
    left_on="ad_orf_id",
    right_on="orf_id",
    how="left"
)

#7. Rename columns to indicate AD
scores_db_ad.rename(
    columns={
        "symbol": "ad_symbol",
        "ensembl_gene_id": "ad_ensembl_gene_id"
    },
    inplace=True
)

scores_db_ad.head()

,ad_orf_id,db_orf_id,db_mut_id,retest_batch,normalized_score,assay_id,seq_ad,seq_db,db_symbol,db_ensembl_gene_id,orf_id,ad_symbol,ad_ensembl_gene_id
0,1235,52920,2676,VUSAPWT2B1,0.125,2,1,1,LITAF,ENSG00000189067.12,1235,HPCAL4,ENSG00000116983.12
1,11922,2713,953,VUSAPWT1B1,0.000,1,1,1,MLH1,ENSG00000076242.14,11922,MYOG,ENSG00000122180.4
2,7880,10122,0,VUSAPWT1B2,0.500,1,1,1,EXOC8,ENSG00000116903.7,7880,KIAA1217,ENSG00000120549.17
3,4351,2713,869,VUSAPWT6B1,0.000,6,1,1,MLH1,ENSG00000076242.14,4351,NME4,ENSG00000103202.12
4,11671,2713,455,VUSAPWT2B1,0.000,2,1,1,MLH1,ENSG00000076242.14,11671,FAN1,ENSG00000198690.9

In [7]:
#8. Drop the redundant 'orf_id' column again
scores_db_ad.drop("orf_id", axis=1, inplace=True)
scores_db_ad.head()

,ad_orf_id,db_orf_id,db_mut_id,retest_batch,normalized_score,assay_id,seq_ad,seq_db,db_symbol,db_ensembl_gene_id,ad_symbol,ad_ensembl_gene_id
0,1235,52920,2676,VUSAPWT2B1,0.125,2,1,1,LITAF,ENSG00000189067.12,HPCAL4,ENSG00000116983.12
1,11922,2713,953,VUSAPWT1B1,0.000,1,1,1,MLH1,ENSG00000076242.14,MYOG,ENSG00000122180.4
2,7880,10122,0,VUSAPWT1B2,0.500,1,1,1,EXOC8,ENSG00000116903.7,KIAA1217,ENSG00000120549.17
3,4351,2713,869,VUSAPWT6B1,0.000,6,1,1,MLH1,ENSG00000076242.14,NME4,ENSG00000103202.12
4,11671,2713,455,VUSAPWT2B1,0.000,2,1,1,MLH1,ENSG00000076242.14,FAN1,ENSG00000198690.9

In [8]:
#9. Reorder columns for convenience: 

#Define desired column order in a list
new_order = [
    #DB columns
    'db_orf_id', 'db_symbol', 'db_ensembl_gene_id',
    'db_mut_id',
    
    #AD columns
    'ad_orf_id', 'ad_symbol', 'ad_ensembl_gene_id',
    
    #Rest 
    'retest_batch', 'normalized_score', 'assay_id',
    'seq_ad', 'seq_db'
]

#Reassign the df to the reordered version
scores_db_ad = scores_db_ad[new_order]
scores_db_ad.head()

,db_orf_id,db_symbol,db_ensembl_gene_id,db_mut_id,ad_orf_id,ad_symbol,ad_ensembl_gene_id,retest_batch,normalized_score,assay_id,seq_ad,seq_db
0,52920,LITAF,ENSG00000189067.12,2676,1235,HPCAL4,ENSG00000116983.12,VUSAPWT2B1,0.125,2,1,1
1,2713,MLH1,ENSG00000076242.14,953,11922,MYOG,ENSG00000122180.4,VUSAPWT1B1,0.000,1,1,1
2,10122,EXOC8,ENSG00000116903.7,0,7880,KIAA1217,ENSG00000120549.17,VUSAPWT1B2,0.500,1,1,1
3,2713,MLH1,ENSG00000076242.14,869,4351,NME4,ENSG00000103202.12,VUSAPWT6B1,0.000,6,1,1
4,2713,MLH1,ENSG00000076242.14,455,11671,FAN1,ENSG00000198690.9,VUSAPWT2B1,0.000,2,1,1

In [9]:
#.10. Check if any db or ad_orf_id remained unmapped

#Find unmapped db_orf_ids => if db_symbol is NaN, that means the db_orf_id did not find a match in your ORF mapping file. 
unmapped_db = scores_db_ad.loc[scores_db_ad['db_symbol'].isna(), 'db_orf_id'].unique()

if len(unmapped_db) > 0:
    print("Unmapped DB orf_ids:", unmapped_db)
else:
    print("No unmapped DB orf_ids")

#11. Find unmapped ad_orf_ids
unmapped_ad = scores_db_ad.loc[scores_db_ad['ad_symbol'].isna(), 'ad_orf_id'].unique()

if len(unmapped_ad) > 0:
    print("Unmapped AD orf_ids:", unmapped_ad)
else:
    print("No unmapped AD orf_ids")

#12. Print out all rows where *either* db or ad is unmapped
unmapped_rows = scores_db_ad[
    scores_db_ad['db_symbol'].isna() | scores_db_ad['ad_symbol'].isna()
]

print("Rows with unmapped ORF IDs:\n", unmapped_rows)

No unmapped DB orf_ids
No unmapped AD orf_ids
Rows with unmapped ORF IDs:
 Empty DataFrame
Columns: [db_orf_id, db_symbol, db_ensembl_gene_id, db_mut_id, ad_orf_id, ad_symbol, ad_ensembl_gene_id, retest_batch, normalized_score, assay_id, seq_ad, seq_db]
Index: []

In [10]:
scores_db_ad.to_excel("./results_11032025/Jess_PPI_21032025/PPI_1percent_list_13042025.xlsx", sheet_name="MergedData", index=False)

In [11]:
#Get unique db_symbol genes
unique_db_symbols = scores_db_ad["db_symbol"].unique()
print("Unique db_symbol genes:")
print(unique_db_symbols)

Unique db_symbol genes:
['LITAF' 'MLH1' 'EXOC8' 'SUOX' 'PLA2G6' 'GRN' 'PRPF31' 'CDKN1A' 'ZMYND10'
 'PKP2' 'POLR1C' 'TPM1' 'TH' 'AGXT' 'UBQLN2' 'ACSF3' 'PLP1' 'PRKAR1A'
 'APOD' 'OPTN' 'KRT6A' 'MIP' 'TTPA' 'EIF2B4' 'PMP22' 'STXBP1' 'PNKP'
 'KRT2' 'AC012254.2' 'IER3IP1' 'ANKRD1' 'HMBS' 'NMNAT1' 'CLDN19' 'CTNNA3'
 'CCBE1' 'KRT5' 'GOSR2' 'SMAD3' 'SFTPC' 'KRT86' 'BAG3' 'EMD' 'SYNGR1'
 'CHN1' 'ESR2' 'ALAS2' 'TMEM43' 'GFAP' 'GCK' 'THAP1' 'ADIPOQ' 'KRT8'
 'RAD51D' 'GLYCTK' 'BLK' 'TPM3' 'KCNJ2' 'STAR' 'NFU1' 'HPRT1' 'FAM161A'
 'CCDC103' 'FAM187A' 'DMC1' 'PLOD3' 'ALDOA' 'SFTPA2' 'TRIM32' 'PRKRA'
 'DOLK' 'MID1' 'EFHC1' 'PRPF3' 'TTR' 'NAA10' 'COL2A1' 'KRT4' 'BFSP2'
 'DUSP23' 'COQ8A' 'KCTD7' 'DCX' 'OAS1' 'PYGL' 'GYPA' 'AMPD2' 'TIMM8A'
 'ATPAF2' 'FA2H' 'CLN6' 'PITX2' 'MVK' 'SH3BP2' 'PITX1' 'GNAI3' 'AP2S1'
 'RXRG' 'AHCY' 'DIABLO' 'VHL' 'PUF60' 'FADD' 'ITGB2' 'PHKG2' 'NCF2' 'ASNS'
 'LHFPL5' 'EFEMP1' 'IMPDH1' 'CDK4' 'PTS' 'APOA1' 'EIF2B1' 'IL36RN' 'GCM2'
 'PLN' 'SMARCB1' 'SLC30A2' 'TFG' 'KCTD1' 'CDC73' 'HBD' 'SDC3' 'CHRNG'
 'CRYAB' 'CXCL16' 'SMN1' 'SMN2' 'CSNK1D' 'GALE' 'TRIB3' 'AIPL1' 'NR0B1'
 'NEUROG3' 'EZH2' 'TUFM' 'ALOX5' 'ACY1' 'PCCA' 'FTH1' 'CTH' 'TREX1'
 'ZNF24' 'HGD' 'CUL3' 'VAPB' 'MYD88' 'LDHB' 'FKBP6' 'SHMT1' 'IGFBP5'
 'CDKN2C' 'SFTPB' 'CFP' 'WRAP53' 'COMP' 'KLHL3' 'IRAK4' 'TSFM' 'GSS'
 'MCOLN1' 'MSRB3' 'TPM2' 'CRADD' 'C1QB' 'LIG4' 'SIX1' 'NF2' 'TAT' 'MYOZ2'
 'UROD' 'XRCC4' 'NEXN' 'HCFC1' 'ACTB' 'BCL10' 'CREB1' 'TPK1' 'ZNF624'
 'GMPPB' 'GAD1' 'FBP1' 'GALT' 'DDX20' 'MCEE' 'GATA2' 'NT5C3A' 'SERPINF1'
 'FASLG' 'SMAD1' 'GSTZ1' 'FOXP3' 'STAC3' 'CA8' 'CLCNKA' 'DNAAF11' 'PNPO'
 'RPIA' 'PGBD1' 'CACNB4' 'SS18L1' 'RNF135' 'FOXD4' 'CDA' 'GSTA2' 'STOX1'
 'UBE3A' 'XRCC2' 'MAX' 'SERPINE1' 'RAB33B' 'GYG1' 'POMT1' 'CYP4F12'
 'VPS33B' 'NEUROD1' 'COL10A1' 'C1QA' 'C1QC' 'ANXA11' 'GNE' 'IL10' 'SQSTM1'
 'ORC6' 'F10' 'BANF1' 'CRYBB1' 'NPPA' 'NELL1' 'FP236240.1' 'CRYAA' 'ILK'
 'CD151' 'IL2RG' 'PRPS1' 'FUCA1' 'ZCCHC12' 'ICAM1' 'FGD4' 'RP2' 'SOX10'
 'CSNK1E' 'Z98749.3' 'NME1' 'PHYKPL' 'PIK3CD']

In [12]:
len(unique_db_symbols)

247

In [13]:
#List interacting partners per db_symbol:
#A straightforward approach is to use groupby on db_symbol and collect the unique ad_symbol values:

partners_per_gene = (
    scores_db_ad
    .groupby("db_symbol")["ad_symbol"]
    .unique()  #or .apply(list) if we want them as a list instead of a NumPy array
)

#'partners_per_gene' is a Series whose index is 'db_symbol' and 
#whose values are arrays of the corresponding 'ad_symbol' partners.

In [14]:
#Now we can iterate over partners_per_gene to print each db_symbol followed by its list of ad_symbol partners:

for db_symbol, ad_symbols in partners_per_gene.items():
    print(f"db_symbol: {db_symbol}")
    print(f"Interacting partners (ad_symbol): {list(ad_symbols)}\n")

db_symbol: AC012254.2
Interacting partners (ad_symbol): ['GPR42', 'TMEM237', 'PIGP', 'TMEM86B', 'HERPUD2', 'TMEM80', 'UBQLN1', 'TM4SF18']

db_symbol: ACSF3
Interacting partners (ad_symbol): ['RAB28', 'TRIM27', 'KRT40']

db_symbol: ACTB
Interacting partners (ad_symbol): ['ACTB', 'CFL2', 'ACTG1']

db_symbol: ACY1
Interacting partners (ad_symbol): ['ACY1']

db_symbol: ADIPOQ
Interacting partners (ad_symbol): ['PVR', 'TMEM237', 'BIK', 'BCL2L13', 'CLDN9', 'NEMP1', 'GPR42', 'CREB3L1', 'FNDC9', 'SLC35E3', 'AMIGO1', 'SLC35C2', 'CPLX4', 'FCGR1A', 'MFF', 'GPR152', 'MRM1', 'SYNE4', 'FAM209A', 'BTNL9']

db_symbol: AGXT
Interacting partners (ad_symbol): ['RFX6', 'FOSB', 'KRT31', 'CYSRT1', 'NOTCH2NL', 'NBPF19', 'KRTAP1-1', 'KRT40', 'KRT34']

db_symbol: AHCY
Interacting partners (ad_symbol): ['C1orf50']

db_symbol: AIPL1
Interacting partners (ad_symbol): ['PLSCR3']

db_symbol: ALAS2
Interacting partners (ad_symbol): ['BANP']

db_symbol: ALDOA
Interacting partners (ad_symbol): ['ALDOA']

db_symbol: ALOX5
Interacting partners (ad_symbol): ['MAD1L1', 'NUTM1', 'CEP63']

db_symbol: AMPD2
Interacting partners (ad_symbol): ['AMPD2', 'AMPD1']

db_symbol: ANKRD1
Interacting partners (ad_symbol): ['ZNF446', 'NAGK']

db_symbol: ANXA11
Interacting partners (ad_symbol): ['FUBP1']

db_symbol: AP2S1
Interacting partners (ad_symbol): ['AAGAB']

db_symbol: APOA1
Interacting partners (ad_symbol): ['CMTM5']

db_symbol: APOD
Interacting partners (ad_symbol): ['ERGIC3', 'AQP9', 'GJA8', 'CD53', 'BIK', 'FAM209A', 'TMEM237', 'VAPA', 'CREB3L1', 'GDAP1', 'MTIF3', 'CPLX4', 'MTERF2', 'MFF', 'KCNJ6']

db_symbol: ASNS
Interacting partners (ad_symbol): ['TRIM69']

db_symbol: ATPAF2
Interacting partners (ad_symbol): ['SPG21', 'IKZF3', 'MAGEA6', 'PRDM6', 'LNX1', 'RPIA', 'GOLGA6L9', 'TFIP11']

db_symbol: BAG3
Interacting partners (ad_symbol): ['ARRDC3', 'SPRY2', 'MAGED1', 'TRIM27', 'UNKL', 'SHISA6', 'PRDM6', 'TBC1D3G', 'DAZAP2', 'HSPB8', 'PDLIM7', 'BAIAP2L1', 'TP53BP2', 'MDFI', 'PLA2G10', 'CYSRT1', 'EYA2', 'HSPB7', 'FOXD4L1', 'VPS37B']

db_symbol: BANF1
Interacting partners (ad_symbol): ['BANF2']

db_symbol: BCL10
Interacting partners (ad_symbol): ['COG6', 'TRAF2']

db_symbol: BFSP2
Interacting partners (ad_symbol): ['CDR2L', 'HAUS1', 'SNAPIN', 'DISC1', 'BLOC1S2', 'SYCE1L', 'USP54', 'BEX3', 'ATF4', 'BEX5', 'CEP63', 'SCOC', 'CAGE1', 'AMOTL2', 'HGS', 'SYCE1', 'WASHC3', 'DMAP1', 'KRT27', 'BFSP1', 'BICRAL']

db_symbol: BLK
Interacting partners (ad_symbol): ['BIRC2', 'IKZF3', 'HSF2BP', 'ZBTB8A', 'MID2', 'STAT3', 'GRB10', 'SSBP3', 'EFS', 'SH2D1B', 'PIK3R1', 'PXN', 'FXR2', 'FXR1', 'CCDC33', 'TDP2', 'SLA']

db_symbol: C1QA
Interacting partners (ad_symbol): ['UBQLN2']

db_symbol: C1QB
Interacting partners (ad_symbol): ['UBQLN2']

db_symbol: C1QC
Interacting partners (ad_symbol): ['UBQLN2']

db_symbol: CA8
Interacting partners (ad_symbol): ['HSD17B14', 'KLHL8', 'MAGED1']

db_symbol: CACNB4
Interacting partners (ad_symbol): ['CTBP2', 'EFHC2']

db_symbol: CCBE1
Interacting partners (ad_symbol): ['KLHL12', 'KRT27']

db_symbol: CCDC103
Interacting partners (ad_symbol): ['VAC14', 'PICK1', 'GRIPAP1', 'MEOX2']

db_symbol: CD151
Interacting partners (ad_symbol): ['GRAMD1C']

db_symbol: CDA
Interacting partners (ad_symbol): ['CDA']

db_symbol: CDC73
Interacting partners (ad_symbol): ['GOLGA6L9', 'TRIM23', 'HSF2BP', 'PICK1', 'MTUS2']

db_symbol: CDK4
Interacting partners (ad_symbol): ['CDKN2D', 'CCND3', 'HOOK1', 'IKZF3', 'CCND2']

db_symbol: CDKN1A
Interacting partners (ad_symbol): ['LZTS2', 'CCND3', 'CCND2', 'KRT31', 'TRIM54', 'INCA1', 'PCNA', 'REL']

db_symbol: CDKN2C
Interacting partners (ad_symbol): ['AHCYL1', 'CDK6']

db_symbol: CFP
Interacting partners (ad_symbol): ['CYSRT1', 'KRTAP6-2', 'GEMIN4', 'HOXA1']

db_symbol: CHN1
Interacting partners (ad_symbol): ['NCK2']

db_symbol: CHRNG
Interacting partners (ad_symbol): ['KRTAP1-1', 'KRTAP9-3', 'KRT31', 'KRTAP12-3', 'KRTAP10-8', 'KRTAP5-9', 'CYSRT1']

db_symbol: CLCNKA
Interacting partners (ad_symbol): ['CYSRT1']

db_symbol: CLDN19
Interacting partners (ad_symbol): ['FCGR1A', 'TM4SF18', 'AQP9', 'CD200R1', 'MFF', 'GPR161', 'PVR', 'CLRN1', 'TMEM248', 'LRRC4C', 'KIR2DL3', 'TNFSF14', 'GJA8', 'STOM', 'BTN2A1', 'SGPL1', 'MS4A4A', 'MUC1']

db_symbol: CLN6
Interacting partners (ad_symbol): ['CREB3L1', 'STX1A']

db_symbol: COL10A1
Interacting partners (ad_symbol): ['UBQLN2', 'BANP']

db_symbol: COL2A1
Interacting partners (ad_symbol): ['KEAP1']

db_symbol: COMP
Interacting partners (ad_symbol): ['OTX1', 'MEOX2']

db_symbol: COQ8A
Interacting partners (ad_symbol): ['AGTRAP', 'SH3GLB1', 'TFIP11', 'REEP6', 'CMTM5', 'RABAC1']

db_symbol: CRADD
Interacting partners (ad_symbol): ['CASP2']

db_symbol: CREB1
Interacting partners (ad_symbol): ['CRTC2']

db_symbol: CRYAA
Interacting partners (ad_symbol): ['FP236240.1', 'CRYAA', 'CRYAB']

db_symbol: CRYAB
Interacting partners (ad_symbol): ['FP236240.1', 'CRYAA']

db_symbol: CRYBB1
Interacting partners (ad_symbol): ['GAS8']

db_symbol: CSNK1D
Interacting partners (ad_symbol): ['ZNF618', 'CCDC14']

db_symbol: CSNK1E
Interacting partners (ad_symbol): ['ZNF618']

db_symbol: CTH
Interacting partners (ad_symbol): ['CTH']

db_symbol: CTNNA3
Interacting partners (ad_symbol): ['TNNI2', 'TNNI1', 'COG4', 'KATNAL1', 'JUP', 'PNMA5', 'USHBP1', 'FAM208B', 'CKMT1B', 'CKMT1A', 'BLOC1S2', 'ZNF474', 'MBD3L1', 'FAM161B', 'MARCH7', 'DISC1', 'ORC2', 'TRIM54', 'ZG16', 'REL', 'MYOG', 'HOMEZ', 'PLAGL2', 'FAM161A', 'ATP23', 'CCDC33', 'FAM9A']

db_symbol: CUL3
Interacting partners (ad_symbol): ['KCTD9', 'SHKBP1', 'KCTD13', 'KLHL12', 'BTBD3', 'GMCL1', 'BTBD6', 'KCTD10', 'KEAP1', 'KCTD7', 'KLHL3', 'ZMAT4']

db_symbol: CXCL16
Interacting partners (ad_symbol): ['FKBP7']

db_symbol: CYP4F12
Interacting partners (ad_symbol): ['MEOX2']

db_symbol: DCX
Interacting partners (ad_symbol): ['MTUS2', 'ZRANB1', 'MEOX1', 'IKZF1']

db_symbol: DDX20
Interacting partners (ad_symbol): ['GEMIN4']

db_symbol: DIABLO
Interacting partners (ad_symbol): ['ARL6IP1', 'MPC2', 'AGTRAP', 'FADS6', 'RHBDD2', 'SYP']

db_symbol: DMC1
Interacting partners (ad_symbol): ['PICK1', 'NIF3L1']

db_symbol: DNAAF11
Interacting partners (ad_symbol): ['SSX7', 'TTC23L']

db_symbol: DOLK
Interacting partners (ad_symbol): ['GALNT8', 'AC005833.1', 'EDA', 'SLC7A6', 'CREB3L1', 'KCNA10', 'KCNA1', 'CD79A']

db_symbol: DUSP23
Interacting partners (ad_symbol): ['EXOSC8', 'UBA3']

db_symbol: EFEMP1
Interacting partners (ad_symbol): ['KRTAP21-2', 'TRAF2', 'BAG4', 'CYSRT1', 'LCE2C']

db_symbol: EFHC1
Interacting partners (ad_symbol): ['RNF125', 'MIIP', 'GADD45B', 'PBX1', 'EFHC2', 'KRT18', 'REL', 'TEX11', 'PBX2', 'CCDC130', 'NUP54', 'IKZF3', 'C20orf85', 'CFAP161', 'NQO2', 'TCF4', 'PAX6', 'ZBED1', 'KCTD4', 'LMO2']

db_symbol: EIF2B1
Interacting partners (ad_symbol): ['RD3', 'EIF2B1', 'C1orf50', 'ATF5']

db_symbol: EIF2B4
Interacting partners (ad_symbol): ['EIF2B2']

db_symbol: EMD
Interacting partners (ad_symbol): ['CATSPER1', 'GORAB', 'PIMREG', 'MEOX2', 'TMEM174', 'SSMEM1', 'CCDC155', 'LUZP4', 'AVPI1', 'ANKS6', 'ZNF341', 'BEND7', 'TRAF3IP3', 'ZNF398', 'GRAMD2A', 'INCA1', 'ERMAP', 'BANF1', 'TMEM200A', 'HSF2BP', 'ZNF329', 'REL', 'MEOX1', 'CXorf66', 'TMEM52B', 'FAM209A', 'CASC4', 'MTERF4', 'STX1A', 'TCF23', 'FATE1', 'LIME1', 'ZNF549', 'GPR152', 'ZFP57', 'CPLX4', 'ZNF774', 'SOWAHB', 'KCNJ8', 'ANK1', 'KCNN3', 'CERS4']

db_symbol: ESR2
Interacting partners (ad_symbol): ['CYSRT1']

db_symbol: EXOC8
Interacting partners (ad_symbol): ['KIAA1217', 'BLZF1', 'USHBP1', 'ZNF177', 'ZNF559-ZNF177', 'UQCC2', 'TRIM21', 'KRT34', 'FAM217B', 'VPS16', 'MTUS2', 'VPS37B', 'KRT36', 'PBX4', 'NAB2', 'NDC80', 'TFIP11', 'USP54', 'DMAP1', 'MBD3L1', 'MARCH7', 'WASHC1', 'ATP23', 'TRIM54', 'GTF2E2', 'RINT1', 'BLOC1S6', 'CDSN', 'TCF12', 'NUP54', 'IKZF3', 'CCHCR1', 'KIFC3', 'PCM1', 'ZC2HC1A', 'BICRAL', 'PRR35', 'TRIM27', 'CCDC36', 'KRT76', 'TCF4', 'ZNF628', 'CCDC33', 'ZNF566', 'CAPN3', 'MIPOL1']

db_symbol: EZH2
Interacting partners (ad_symbol): ['EED']

db_symbol: F10
Interacting partners (ad_symbol): ['UBQLN2']

db_symbol: FA2H
Interacting partners (ad_symbol): ['ERLIN1', 'CREB3L1', 'TMEM14B', 'ARMC12']

db_symbol: FADD
Interacting partners (ad_symbol): ['BTG1', 'TRADD', 'UBE2I', 'NUTM2F', 'RNF4']

db_symbol: FAM161A
Interacting partners (ad_symbol): ['TRIM54', 'ZIM2', 'HOOK2', 'TNIP1', 'KRTAP10-8', 'BACH2', 'CALCOCO2', 'LDOC1', 'TAX1BP1', 'DHX32', 'ZBTB8A', 'CDR2L', 'ZRANB1', 'CCDC57', 'MIPOL1', 'MID2', 'KANK2', 'TRIM27', 'CDR2', 'POC5', 'JRK', 'SPERT', 'PICK1', 'PIBF1', 'CCDC136', 'PRKAR1B', 'GAS8', 'ROPN1', 'AXIN2', 'TFIP11', 'ZBTB1', 'MCC', 'MTUS2', 'KRTAP5-7', 'ZNF526', 'BHLHB9', 'LURAP1L', 'CCNDBP1', 'INO80E', 'KRTAP5-9', 'KIAA1328', 'CADPS', 'HMBOX1', 'HOOK1', 'GOLGA6L9', 'LZTS2', 'CARD9', 'CEP70', 'TBC1D1', 'CEP63', 'VPS52', 'KRTAP2-3', 'KRTAP2-4', 'FXR1', 'ZSCAN12', 'MDFI', 'TRAF2', 'KIFC3', 'GRIPAP1', 'CCNC']

db_symbol: FAM187A
Interacting partners (ad_symbol): ['VAC14', 'PICK1', 'GRIPAP1', 'MEOX2']

db_symbol: FASLG
Interacting partners (ad_symbol): ['CYSRT1']

db_symbol: FBP1
Interacting partners (ad_symbol): ['FBP1']

db_symbol: FGD4
Interacting partners (ad_symbol): ['C9orf16']

db_symbol: FKBP6
Interacting partners (ad_symbol): ['FKBP6', 'PICK1', 'MEOX2', 'KRT75', 'RNF4', 'PPP1R32', 'PIAS2', 'CDK5RAP3']

db_symbol: FOXD4
Interacting partners (ad_symbol): ['MDFI']

db_symbol: FOXP3
Interacting partners (ad_symbol): ['FOSB']

db_symbol: FP236240.1
Interacting partners (ad_symbol): ['FP236240.1', 'CRYAA', 'CRYAB']

db_symbol: FTH1
Interacting partners (ad_symbol): ['BAG4']

db_symbol: FUCA1
Interacting partners (ad_symbol): ['UBQLN2']

db_symbol: GAD1
Interacting partners (ad_symbol): ['AGTRAP', 'CMTM5']

db_symbol: GALE
Interacting partners (ad_symbol): ['GALE']

db_symbol: GALT
Interacting partners (ad_symbol): ['UBTD2']

db_symbol: GATA2
Interacting partners (ad_symbol): ['CYSRT1', 'KRTAP6-3']

db_symbol: GCK
Interacting partners (ad_symbol): ['GCKR', 'SPDYE4']

db_symbol: GCM2
Interacting partners (ad_symbol): ['FHL3', 'CRX', 'USP54', 'ZMIZ2', 'TOX3', 'HSF2BP', 'TRAF1']

db_symbol: GFAP
Interacting partners (ad_symbol): ['KRT15', 'TFIP11', 'ZNF774', 'PIAS2', 'HOMEZ', 'GFAP', 'TP53BP2', 'TBC1D21']

db_symbol: GLYCTK
Interacting partners (ad_symbol): ['MAGED1', 'BAIAP2L2', 'KRT34', 'PICK1', 'METTL15', 'PFDN5', 'PLAGL2', 'DTX2', 'ZNF620', 'RBCK1', 'EFHC2', 'KRTAP6-2', 'LZTS2', 'KRTAP6-3', 'KRT75', 'SMUG1', 'REL', 'GMPPB']

db_symbol: GMPPB
Interacting partners (ad_symbol): ['GMPPA']

db_symbol: GNAI3
Interacting partners (ad_symbol): ['GPSM2']

db_symbol: GNE
Interacting partners (ad_symbol): ['PLA2G10']

db_symbol: GOSR2
Interacting partners (ad_symbol): ['JAGN1', 'STX4', 'TMEM205', 'STX1A', 'HSD17B13', 'EBP', 'CYB561', 'FATE1', 'TMCO5A']

db_symbol: GRN
Interacting partners (ad_symbol): ['CCDC33', 'LCE2B', 'CXCL5', 'TSPAN4', 'LCE3E', 'NUFIP2', 'KRTAP11-1', 'LCE2D', 'LCE1D', 'SMCP', 'HOXA1', 'CYSRT1', 'OTX1', 'MEOX2', 'LCE4A']

db_symbol: GSS
Interacting partners (ad_symbol): ['GSS']

db_symbol: GSTA2
Interacting partners (ad_symbol): ['GSTA4']

db_symbol: GSTZ1
Interacting partners (ad_symbol): ['GSTZ1']

db_symbol: GYG1
Interacting partners (ad_symbol): ['GYS1']

db_symbol: GYPA
Interacting partners (ad_symbol): ['ANKRD29', 'KEAP1', 'TMEM154']

db_symbol: HBD
Interacting partners (ad_symbol): ['HBZ', 'HBA2', 'HBA1']

db_symbol: HCFC1
Interacting partners (ad_symbol): ['CREBZF']

db_symbol: HGD
Interacting partners (ad_symbol): ['HGD']

db_symbol: HMBS
Interacting partners (ad_symbol): ['PICK1']

db_symbol: HPRT1
Interacting partners (ad_symbol): ['PRTFDC1', 'HPRT1']

db_symbol: ICAM1
Interacting partners (ad_symbol): ['UBQLN2']

db_symbol: IER3IP1
Interacting partners (ad_symbol): ['GPR42', 'TMEM237', 'PIGP', 'TMEM86B', 'HERPUD2', 'TMEM80', 'UBQLN1', 'TM4SF18']

db_symbol: IGFBP5
Interacting partners (ad_symbol): ['CXCR1', 'HSD17B13', 'FNDC9', 'MS4A3', 'GPR152', 'GPR42']

db_symbol: IL10
Interacting partners (ad_symbol): ['KRTAP10-8']

db_symbol: IL2RG
Interacting partners (ad_symbol): ['KRTAP10-8']

db_symbol: IL36RN
Interacting partners (ad_symbol): ['DDIT4L', 'REL', 'CNOT4']

db_symbol: ILK
Interacting partners (ad_symbol): ['PARVA']

db_symbol: IMPDH1
Interacting partners (ad_symbol): ['PIAS2', 'RNF4', 'RAD54L2', 'UBE2I']

db_symbol: IRAK4
Interacting partners (ad_symbol): ['TRIM7', 'MYD88']

db_symbol: ITGB2
Interacting partners (ad_symbol): ['KRTAP10-8']

db_symbol: KCNJ2
Interacting partners (ad_symbol): ['KCNJ2', 'KCNJ15']

db_symbol: KCTD1
Interacting partners (ad_symbol): ['KCTD1']

db_symbol: KCTD7
Interacting partners (ad_symbol): ['TRIM2', 'TERF1', 'GORASP2', 'PAX6', 'EFHC2', 'KRT75', 'REL', 'MEOX1', 'NIF3L1', 'MEOX2', 'MDFI']

db_symbol: KLHL3
Interacting partners (ad_symbol): ['KEAP1', 'KLHL12']

db_symbol: KRT2
Interacting partners (ad_symbol): ['KRT33B', 'KRT25', 'KRT27', 'KRT15', 'KRT16', 'KRT31']

db_symbol: KRT4
Interacting partners (ad_symbol): ['KRT36', 'KRT40', 'TRIM54', 'KRT31', 'KRT16', 'KRT24', 'KRT15', 'KRT38', 'KRT27']

db_symbol: KRT5
Interacting partners (ad_symbol): ['KRT27', 'KRT31', 'KRT16', 'KRT15']

db_symbol: KRT6A
Interacting partners (ad_symbol): ['KRT27', 'KRT38', 'KRT15', 'TRIM54', 'KRT25', 'KRT16', 'KIFC3', 'KRT31']

db_symbol: KRT8
Interacting partners (ad_symbol): ['KRT36', 'KRT31', 'KRT15', 'KRT28', 'KRT27', 'KRT25', 'KRT16', 'KRT40']

db_symbol: KRT86
Interacting partners (ad_symbol): ['KRT38', 'KRT25', 'CYSRT1', 'KRT34', 'KRT16', 'KRT40', 'KRT31', 'KRT36', 'KRT27', 'KRT15', 'KRT39', 'KRT37']

db_symbol: LDHB
Interacting partners (ad_symbol): ['LDHA', 'LDHB']

db_symbol: LHFPL5
Interacting partners (ad_symbol): ['CD79A', 'LRRC4C', 'ADGRG3', 'CCDC155', 'FFAR2', 'HAS3', 'CERS4', 'GJA8', 'MTIF3']

db_symbol: LIG4
Interacting partners (ad_symbol): ['XRCC4']

db_symbol: LITAF
Interacting partners (ad_symbol): ['HPCAL4', 'TAX1BP1', 'HIP1', 'REEP6', 'DAZAP2', 'GGA3', 'KCNIP1', 'RNF208', 'KCNIP4', 'HPCAL1', 'RASSF3', 'EPN2', 'NCALD', 'STAM2', 'UBQLN2', 'EPN1', 'RPS27A', 'TNIP3']

db_symbol: MAX
Interacting partners (ad_symbol): ['MYC']

db_symbol: MCEE
Interacting partners (ad_symbol): ['CMTM5']

db_symbol: MCOLN1
Interacting partners (ad_symbol): ['APPBP2']

db_symbol: MID1
Interacting partners (ad_symbol): ['ZNF618', 'UBE2E2', 'MID1', 'GMCL1', 'EPN2', 'MID2']

db_symbol: MIP
Interacting partners (ad_symbol): ['GPX8', 'STX1A', 'ERGIC3', 'SLC14A1', 'KCNJ6', 'LRRC4C', 'TMX2', 'LHFPL5', 'FAM209A']

db_symbol: MLH1
Interacting partners (ad_symbol): ['MYOG', 'NME4', 'FAN1', 'AP2B1', 'ZNF177', 'ZNF559-ZNF177', 'CCDC74B', 'NELFA', 'NFIX', 'SYF2', 'MBD4', 'FAM208B', 'AES', 'ZNF212', 'MAGEA8', 'FAM228A', 'SPATA8', 'MBD3L1', 'SPERT', 'PTPN3', 'KPNA5']

db_symbol: MSRB3
Interacting partners (ad_symbol): ['FHL3', 'ASB13', 'KRT40', 'ZMYND12', 'CTBP2', 'REL', 'BANP']

db_symbol: MVK
Interacting partners (ad_symbol): ['MVK']

db_symbol: MYD88
Interacting partners (ad_symbol): ['MYD88', 'RNF4', 'IRAK4', 'SPOPL']

db_symbol: MYOZ2
Interacting partners (ad_symbol): ['ACTN1', 'ACTN4']

db_symbol: NAA10
Interacting partners (ad_symbol): ['CDCA5', 'ZBTB14', 'CCDC174', 'CALCOCO2', 'ZNF202', 'KIFAP3', 'BAALC', 'RAB3IP', 'CREBRF', 'SEMA3B', 'KRTAP10-6', 'PDE4DIP']

db_symbol: NCF2
Interacting partners (ad_symbol): ['KIFAP3']

db_symbol: NELL1
Interacting partners (ad_symbol): ['MEOX2']

db_symbol: NEUROD1
Interacting partners (ad_symbol): ['TCF4', 'TCF12']

db_symbol: NEUROG3
Interacting partners (ad_symbol): ['TCF12', 'TCF4']

db_symbol: NEXN
Interacting partners (ad_symbol): ['ZSCAN22', 'FXR2']

db_symbol: NF2
Interacting partners (ad_symbol): ['AMOTL2']

db_symbol: NFU1
Interacting partners (ad_symbol): ['COIL', 'MDK', 'ZSCAN5A', 'RHBDD2', 'TFIP11']

db_symbol: NME1
Interacting partners (ad_symbol): ['NME1']

db_symbol: NMNAT1
Interacting partners (ad_symbol): ['NMNAT1', 'KPNA5', 'KPNA6', 'KPNA3', 'KPNA2']

db_symbol: NPPA
Interacting partners (ad_symbol): ['HSF2BP', 'UBQLN2']

db_symbol: NR0B1
Interacting partners (ad_symbol): ['ESRRG']

db_symbol: NT5C3A
Interacting partners (ad_symbol): ['UBQLN2']

db_symbol: OAS1
Interacting partners (ad_symbol): ['HOOK2', 'COG6']

db_symbol: OPTN
Interacting partners (ad_symbol): ['PICK1', 'TNIP1', 'WASHC3', 'HSF2BP', 'OPTN']

db_symbol: ORC6
Interacting partners (ad_symbol): ['LHX4']

db_symbol: PCCA
Interacting partners (ad_symbol): ['MCC']

db_symbol: PGBD1
Interacting partners (ad_symbol): ['ZSCAN18', 'ZSCAN32', 'ZNF496', 'PGBD1', 'ZNF446']

db_symbol: PHKG2
Interacting partners (ad_symbol): ['PHKA2', 'MAGEA2', 'MAGEA2B']

db_symbol: PHYKPL
Interacting partners (ad_symbol): ['PHYKPL']

db_symbol: PIK3CD
Interacting partners (ad_symbol): ['PIK3R1']

db_symbol: PITX1
Interacting partners (ad_symbol): ['LASP1', 'ZNF34', 'MAGED1', 'PFDN5', 'HOXA1', 'YPEL3', 'SLC15A2', 'AES', 'KRTAP19-5', 'PLA2G10', 'PRR20D', 'PRR20A', 'PRR20C', 'PRR20B', 'PRR20E', 'PTK6', 'TRAF1', 'STH', 'C11orf1', 'CYSRT1', 'IPO13', 'AKAP8L']

db_symbol: PITX2
Interacting partners (ad_symbol): ['DYNLT1', 'CYSRT1', 'AES']

db_symbol: PKP2
Interacting partners (ad_symbol): ['ROPN1', 'SPTA1', 'MTUS2']

db_symbol: PLA2G6
Interacting partners (ad_symbol): ['RCBTB2', 'CEP76', 'PLA2G6', 'NUP93']

db_symbol: PLN
Interacting partners (ad_symbol): ['STX1A', 'TMEM205', 'MTIF3', 'GJA8', 'CLEC2D', 'ARL13B', 'TMEM31', 'MUC1', 'CPLX4', 'GPX8', 'TMEM52B', 'EDA', 'HSD17B13', 'MFF']

db_symbol: PLOD3
Interacting partners (ad_symbol): ['NAB2', 'L3MBTL3', 'EFHC2', 'COIL']

db_symbol: PLP1
Interacting partners (ad_symbol): ['TMEM52B', 'LHFPL5', 'ERGIC3', 'PI16', 'LEUTX', 'HAS3', 'KLRC1', 'CALN1', 'MS4A3', 'MTIF3', 'FAM209A', 'FNDC9', 'SLC35E2', 'TMEM242', 'EDA2R', 'NRG1', 'SLC35E3', 'CLDN20', 'STX1A', 'MUC1', 'ARL13B', 'TMPRSS2', 'CLEC2D', 'BCL2L13', 'PTPRN', 'SLC18A1', 'DCT']

db_symbol: PMP22
Interacting partners (ad_symbol): ['SLC38A1', 'TMEM31', 'CEACAM3', 'SDC4', 'TMEM30B', 'CREB3L1', 'CLDN5', 'KLRC1', 'TMEM14B', 'EDA', 'GPR61']

db_symbol: PNKP
Interacting partners (ad_symbol): ['SYNGR3', 'PSTPIP1', 'ZBTB14', 'TMEM239', 'SNX2', 'PNMA5', 'SFT2D1', 'TNIP1', 'TBC1D1', 'KLHL12', 'TRIM37', 'PICK1', 'KANK2', 'IKZF1', 'XRCC4', 'CCDC14', 'MCC', 'CNTROB', 'ZNF639', 'SP4', 'CARD10']

db_symbol: PNPO
Interacting partners (ad_symbol): ['AGTRAP']

db_symbol: POLR1C
Interacting partners (ad_symbol): ['POLR1D', 'KCTD1', 'EP400', 'ZNF655', 'NME4', 'HDX', 'USP54', 'CBX8', 'TRIM27', 'AVPI1', 'GAS8', 'MEI4', 'POLR2J3', 'BLZF1', 'C4orf45', 'TNFAIP1', 'TAX1BP1', 'EFHC2', 'LRIF1', 'XPA', 'MRPS23', 'CCNK', 'MORN3', 'ZRANB1', 'NME1', 'KCTD13', 'KRT75', 'BIRC7', 'KRT76', 'ZBED1', 'ZIM2', 'STMN3', 'WASHC1', 'MKRN3', 'TFIP11', 'PSMA1', 'CCDC33', 'IKZF3', 'UNKL', 'GOLGA6L9', 'SMN2', 'SMN1', 'SPERT', 'ZFP57', 'RIMBP3C', 'RBM48']

db_symbol: POMT1
Interacting partners (ad_symbol): ['MEOX2']

db_symbol: PRKAR1A
Interacting partners (ad_symbol): ['AKAP5', 'PRKACA', 'C2orf88', 'PRKAR1B', 'AKAP7']

db_symbol: PRKRA
Interacting partners (ad_symbol): ['ADARB1', 'TARBP2', 'EIF2AK2', 'PRKRA']

db_symbol: PRPF3
Interacting partners (ad_symbol): ['TSPYL1', 'TRIM39', 'CEP70', 'C11orf57', 'HSF2BP', 'SHKBP1', 'CCDC136', 'NINL', 'RNF151', 'TXLNA', 'CCDC125', 'ZRANB1']

db_symbol: PRPF31
Interacting partners (ad_symbol): ['CCDC57', 'RBMX', 'EFEMP2', 'KRT31', 'ZRANB1', 'CCNDBP1', 'TP53BP2', 'KIFC3', 'CCDC136', 'MTUS2', 'HSF2BP', 'PPP1R16A', 'CCDC33', 'KCTD6', 'MKRN3', 'LDOC1', 'KRTAP10-8', 'RBMY1J', 'RBMY1F', 'PAK5', 'REL', 'FXR1', 'CARD14', 'GOLGA6L9', 'PNMA3', 'USH1G', 'KANK2', 'PICK1', 'PSTPIP1', 'CYSRT1', 'FSD2', 'RBMY1A1', 'ZNF71', 'TRIM23', 'RUNDC3A', 'AES', 'CDR2L', 'C1QTNF1', 'ZNF774', 'HAP1', 'KRTAP1-1', 'TFIP11', 'MID2', 'KRT34', 'HNRNPK', 'ZNF792', 'CEP70', 'UBXN11', 'PRDM14', 'KRTAP4-11', 'HOOK2', 'KRTAP6-3']

db_symbol: PRPS1
Interacting partners (ad_symbol): ['PRPS1']

db_symbol: PTS
Interacting partners (ad_symbol): ['PTS']

db_symbol: PUF60
Interacting partners (ad_symbol): ['PUF60', 'SRSF11', 'FUBP1', 'SF1']

db_symbol: PYGL
Interacting partners (ad_symbol): ['PYGM', 'PYGB']

db_symbol: RAB33B
Interacting partners (ad_symbol): ['CCDC136']

db_symbol: RAD51D

In [15]:
#Full snippet to save PPIs involving 247 unique genes (db_symbol): 

#Group by db_symbol and collect the unique ad_symbol values
partners_per_gene = scores_db_ad.groupby("db_symbol")["ad_symbol"].unique()

#Convert the Series into a DataFrame and rename the columns
df_partners = partners_per_gene.reset_index()
df_partners.columns = ["Gene", "Interactors"]

#Convert the array of interactors into a comma-separated string (without quotes)
df_partners["Interactors"] = df_partners["Interactors"].apply(lambda x: ", ".join(x))
df_partners.head()

         Gene                                        Interactors
0  AC012254.2  GPR42, TMEM237, PIGP, TMEM86B, HERPUD2, TMEM80...
1       ACSF3                               RAB28, TRIM27, KRT40
2        ACTB                                  ACTB, CFL2, ACTG1
3        ACY1                                               ACY1
4      ADIPOQ  PVR, TMEM237, BIK, BCL2L13, CLDN9, NEMP1, GPR4...

In [16]:
#Save the result to an Excel file to work with CZ single cell data:
df_partners.to_excel("./results_11032025/Jess_PPI_21032025/PPI_1percent_Gene_partners_Final_13042025.xlsx", index=False)

In [17]:
#flat, comma-separated list for CZ Cell*Gene gene expression: 

#Group by db_symbol and collect unique interactors
partners_per_gene = scores_db_ad.groupby("db_symbol")["ad_symbol"].unique()

#Build the final list: Gene, Interactor1, Interactor2, ...
flat_list = []

for gene, interactors in partners_per_gene.items():
    flat_list.append(gene)
    flat_list.extend(interactors)

#Convert the flat list to a comma-separated string
ppi_query_list = ", ".join(flat_list)

#Optional: print first few to verify
print(ppi_query_list[:500])

AC012254.2, GPR42, TMEM237, PIGP, TMEM86B, HERPUD2, TMEM80, UBQLN1, TM4SF18, ACSF3, RAB28, TRIM27, KRT40, ACTB, ACTB, CFL2, ACTG1, ACY1, ACY1, ADIPOQ, PVR, TMEM237, BIK, BCL2L13, CLDN9, NEMP1, GPR42, CREB3L1, FNDC9, SLC35E3, AMIGO1, SLC35C2, CPLX4, FCGR1A, MFF, GPR152, MRM1, SYNE4, FAM209A, BTNL9, AGXT, RFX6, FOSB, KRT31, CYSRT1, NOTCH2NL, NBPF19, KRTAP1-1, KRT40, KRT34, AHCY, C1orf50, AIPL1, PLSCR3, ALAS2, BANP, ALDOA, ALDOA, ALOX5, MAD1L1, NUTM1, CEP63, AMPD2, AMPD2, AMPD1, ANKRD1, ZNF446, NAG

In [18]:
len(ppi_query_list)

11399

Let's split PPI query list alphabetically by db_symbol (starting letter A–Z)— especially for querying on CellxGene & not to compromise the performance by quering 11399 genes at one go. 

We’ll:

- Group by db_symbol and get interactors.
- Create a dictionary {A: [Gene1, Int1, Int2, ..., Gene2, ...], B: [...], ..., Z: [...]}.
- Save each list into a separate A_PPI_list.txt, B_PPI_list.txt, etc.
- Print how many genes were used in each case (i.e., how many db_symbols per letter).

In [19]:
import os
from collections import defaultdict

In [20]:
#Group and collect interactors
partners_per_gene = scores_db_ad.groupby("db_symbol")["ad_symbol"].unique()

In [21]:
#Prepare output directory
os.makedirs("ppi_lists_by_letter", exist_ok=True)

#Dictionary to store flat lists A–Z
alpha_dict = defaultdict(list)
gene_count_by_letter = defaultdict(int)

#Build flat list per starting letter
for gene, interactors in partners_per_gene.items():
    first_letter = gene[0].upper()
    alpha_dict[first_letter].append(gene)
    alpha_dict[first_letter].extend(interactors)
    gene_count_by_letter[first_letter] += 1

#Save to separate files
for letter, genes_and_interactors in alpha_dict.items():
    flat_str = ", ".join(genes_and_interactors)
    filename = f"ppi_lists_by_letter/{letter}_PPI_list.txt"
    with open(filename, "w") as f:
        f.write(flat_str)
    print(f"Saved {letter}_PPI_list.txt with {gene_count_by_letter[letter]} genes")

# Optional: print a summary of total gene count per letter
print("\n Gene count summary per letter:")
for letter in sorted(gene_count_by_letter.keys()):
    print(f"{letter}: {gene_count_by_letter[letter]} genes")

Saved A_PPI_list.txt with 19 genes
Saved B_PPI_list.txt with 5 genes
Saved C_PPI_list.txt with 35 genes
Saved D_PPI_list.txt with 7 genes
Saved E_PPI_list.txt with 8 genes
Saved F_PPI_list.txt with 14 genes
Saved G_PPI_list.txt with 18 genes
Saved H_PPI_list.txt with 5 genes
Saved I_PPI_list.txt with 10 genes
Saved K_PPI_list.txt with 10 genes
Saved L_PPI_list.txt with 4 genes
Saved M_PPI_list.txt with 10 genes
Saved N_PPI_list.txt with 13 genes
Saved O_PPI_list.txt with 3 genes
Saved P_PPI_list.txt with 25 genes
Saved R_PPI_list.txt with 6 genes
Saved S_PPI_list.txt with 24 genes
Saved T_PPI_list.txt with 17 genes
Saved U_PPI_list.txt with 3 genes
Saved V_PPI_list.txt with 3 genes
Saved W_PPI_list.txt with 1 genes
Saved X_PPI_list.txt with 2 genes
Saved Z_PPI_list.txt with 5 genes

 Gene count summary per letter:
A: 19 genes
B: 5 genes
C: 35 genes
D: 7 genes
E: 8 genes
F: 14 genes
G: 18 genes
H: 5 genes
I: 10 genes
K: 10 genes
L: 4 genes
M: 10 genes
N: 13 genes
O: 3 genes
P: 25 genes
R: 6 genes
S: 24 genes
T: 17 genes
U: 3 genes
V: 3 genes
W: 1 genes
X: 2 genes
Z: 5 genes

In [22]:
import os

ppi_dir = "./results_11032025/Jess_PPI_21032025/ppi_lists_by_letter"

print("Total entries (genes + interactors) in each PPI list:\n")

#Loop through all txt files in the directory
for file in sorted(os.listdir(ppi_dir)):
    if file.endswith("_PPI_list.txt"):
        file_path = os.path.join(ppi_dir, file)
        
        #Read content
        with open(file_path, "r") as f:
            content = f.read()
        
        #Split by comma, strip whitespace
        genes_and_interactors = [entry.strip() for entry in content.split(",") if entry.strip()]
        
        #Optionally use set() if you want to count unique entries only
        total_count = len(genes_and_interactors)
        
        print(f"{file}: {total_count} entries")

Total entries (genes + interactors) in each PPI list:

A_PPI_list.txt: 101 entries
B_PPI_list.txt: 66 entries
C_PPI_list.txt: 168 entries
D_PPI_list.txt: 32 entries
E_PPI_list.txt: 128 entries
F_PPI_list.txt: 106 entries
G_PPI_list.txt: 93 entries
H_PPI_list.txt: 13 entries
I_PPI_list.txt: 38 entries
K_PPI_list.txt: 73 entries
L_PPI_list.txt: 34 entries
M_PPI_list.txt: 63 entries
N_PPI_list.txt: 49 entries
O_PPI_list.txt: 11 entries
P_PPI_list.txt: 274 entries
R_PPI_list.txt: 32 entries
S_PPI_list.txt: 111 entries
T_PPI_list.txt: 91 entries
U_PPI_list.txt: 43 entries
V_PPI_list.txt: 7 entries
W_PPI_list.txt: 3 entries
X_PPI_list.txt: 6 entries
Z_PPI_list.txt: 15 entries